<a href="https://colab.research.google.com/github/luizasampaio-s/processo-seletivo-target/blob/main/faturamento_dias.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import pandas as pd

df = pd.read_json('dados.json')

In [100]:
df

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [101]:
df = df.query('valor > 0')
df

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [118]:
df_min_filter = df['valor'].min()

df_min = df.query('valor == @df_min_filter')
df_min

    dia     valor
13   14  373.7838

In [116]:
df_max_filter = df['valor'].max()
df_max = df.query('valor == @df_max_filter')
df_max

    dia       valor
15   16  48924.2448

In [117]:
df_media = df['valor'].mean()

taller_than_average = df.query(" valor > @df_media")

taller_than_average['dia'].count()

10